body, html {
    margin: 0!important;
    min-height: 200px;
    min-width: 200px;
}

* {
    font-family: "Power Red and Green", serif;
}

.title1 {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 4rem;
}

#container {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 10;
}



#mainPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(227, 173, 141,0.6);
    width: 35vw;
    height: 100vh;
    outline:2px solid black;
    box-shadow: 0 0 40px black;
}


button {
    font-size: 2em;
    background-color: #585858;
    cursor: pointer;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 0 6px black;
    margin: 15px;
    padding:3% 3%;
    transition: background-color .1s, transform .2s;
}

#buttonContainer {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
    margin-top: 20%;
}

#button1 {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#button2 {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




button:hover{
    background-color: #282828;
}


#canvas-basic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}




.buttonInfo{
    width: 1.8rem;
    height: 1.8rem;
    min-width : 1.2rem;
    min-height : 1.2rem;

}



.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: -moz-linear-gradient(#2edbe8, #01a6b2);
    background: -webkit-linear-gradient(#2edbe8, #01a6b2);
    background: -o-linear-gradient(#2edbe8, #01a6b2);
}
.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #6ed1d8;
}



