body {
    display: flex;
     /* Pour aligner verticalement */
    flex-direction: column;
     /* Pour aligner à droite */
    background-image: url("./../img/background/ground3.jpg");
    
}

div.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    z-index: 3;

    background-color: white;
    border-radius: 15px;
    border: 3px solid var(--navyColorTN);
    text-align: center;

    padding: 30px;
}



h1.alert{
    opacity: 0;
    display: none;
    
}




button {
    background-color: var(--blueColorTN);
    color: white;
    border: var(--navyColorTN);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s; /* Ajouter une transition d'une seconde pour la couleur de fond */
  }
  
button:hover {
    background-color: var(--navyColorTN); /* Changer la couleur de fond lorsqu'on survole le bouton */
}
  

/* ========================== PLAY PANEL =======================================*/
#playPanel {
    /* évite d'être soumis à flex */
    position: absolute;
    height: 100% ;
    width: 100%;
}


/* traces les autres chemins */
canvas:not(#curve) {
    position: absolute;
}


/*=========================== ICON DIV =====================================  */
#iconDiv {
    position: fixed;
    right: 0;

    color: white;background-color: white;
    border-radius: 0 0 0 15px;
    /* Add border bottom and left */
    border-bottom: 1px solid var(--navyColorTN);
    border-left: 1px solid var(--navyColorTN);


    display: flex;
    
    /* Over the playPanel */
    z-index: 2; 
    width: var(--controlPanelSize);
    height: calc(var(--iconHeight) + 2 * var(--marginTopIcon));
    /* background-color: var(--navyColorTN); */

    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

/* Réinitialiser le style par défaut des boutons */
button.iconBar-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: var(--buttonFontSizePC);
    height: fit-content;
}

button.iconBar-button:hover {
    color: var(--blueColorTN);
}

#iconDiv * {
    cursor: pointer;
}

#iconDiv img {
    height: var(--iconHeight);
    min-height: var(--minIconHeight);
    width: auto;
    border: var(--marginTopIcon) solid transparent;
    border-radius: 5px;
}

#iconDiv img:hover {
    background-color: rgb(221, 221, 221);

}

#iconDiv > div {
    /* retirer la bordure */
    margin: calc(var(--marginTopIcon) - 3px);
}

#iconDiv img:not(#menuButton, #bigTN, #miniTN) {
    display: flex;
}

#download-gif{
    cursor: not-allowed;
    filter: blur(2px);
    
}

.dropdown-square, #hamburger-container{
    align-self:self-start;
}

/* ========================== CONTROLE PANEL =======================================*/


#controlPanel {

    position: fixed;
    top:var(--topBannerHeight);
    right: 0;

    width: var(--controlPanelSize);
    max-height: calc(100vh - var(--topBannerHeight));
        
    /* Permet de l'afficher par dessus les fourmis si réduction */
    z-index: 1;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    
}

#controlPanel>div{
    z-index: 0;
    /* background-color: rgba(255, 255, 255, 0.85); */
    background-color: rgba(255, 255, 255, 1);

    border-radius: 15px 0 0 15px;
    max-width: 100%;
    border-left: 1px solid var(--navyColorTN);
    border-bottom: 1px solid var(--navyColorTN);
    border-top: 1px solid var(--navyColorTN);
}

/* #controlPanel div:hover{
    background-color: rgba(255, 255, 255, 1);
} */


/* TOutes les divisions de #inputControler */
#inputControler>div {
    padding: 5px 0 5px 0;
}

/* ######## INPUT PANEL ######## */


#inputControler {
    padding: 10px 0 10px 0;
    display: none;
    flex-direction: column;
}

/* antControler */

#antControler {
    display: flex;
    flex-direction: row;
    /* Les deux colonnes label / range sont espacé horsitontalement */
    justify-content: space-around;
}

#antControler>div {
    display: flex;
    flex-direction: column;
    /* les lignes (label ou input) sont espacé verticalement */
    justify-content: space-around;
    max-width: 50%;
}



/* button */
#gameControler {
    /* align les boutons avec espacements */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* ######## EXPLANATION CONTROLER ######## */



/* Explanation TEXTE */

#tutorial, #information, #more {
    display: none;
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#dataViewer{
    display: none;
    min-height: 33vh;
}

/* ==========================================================*/
/* ========================= LITTLE SCREEN ==================*/
/* ==========================================================*/

@media (max-width : 900px) {

    /*=========================== ICON DIV =====================================  */

    /* Icon div est placé en absolue pour éviter de casser la positio des fourmies codé avec le cul */

    #iconDiv {
        flex-direction: row;
        /* position: absolute; */
        width: 100%;
        height: fit-content;
        max-height: ;


        justify-content: space-around;
        align-items:baseline;
        flex-wrap: wrap;
        border-right: 1px solid var(--navyColorTN);
        border-radius: 0 0 15px 15px;

        
    }

    
    button.iconBar-button{
        font-size: var(--buttonFontSizeTEL);
    }

    /* ========================== PLAY =======================================*/
    #playPanel {
        /* height: 100vh; */
        height: 100%;
        width: 100%;
    }

    /* ========================== CONTROLE =======================================*/

    #controlPanel{

        width: 100%;
        height: fit-content;

    }
    #controlPanel>div{
        border-radius: 15px;
        border: 1px solid var(--navyColorTN);
    }


    #dataViewer {
        /* bien que le dataViewer n'est pas affiché, il détermine la taille du canvas curve */
        height: 60%;
    
    }

}

