/* =============================== GLOBAL ================================== */
* {
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
    display: flex;
    flex: auto;
}

/* Hide for big screen */
#menuButton{
    display: none;
}

/* ========================== PLAY =======================================*/
#playPanel
{
    background-image: url("./../img/ground2.jpg");
    height: 100vh;
    width: 75%;
}


/* traces les autres chemins */
canvas:not(#curve){
    position: absolute;
}

/* ========================== CONTROLE =======================================*/


#controlPanel{
    border-left: 10px solid black;
    height: 100%;
    width: 25%;
    left: 75%;
    background-color: white;
    /* Permet de l'afficher par dessus les fourmis si réduction */
    position: absolute;
    z-index: 999;
    /* Permet surement de réafficher après mini screen */
    /* display: block; */
}

#inputControler {
    border-bottom: 10px solid black;
    /* height: 50%; */
    /* min-height: 25%; */
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    justify-content: space-evenly;
    text-align: center;
    /* justify-items: center; */
    align-items:center;
    width: 100%;
}

#inputControler > * {
    width: 100%;
    margin: 7px;
}


/* ==============================EXPLANATION======================================= */

#gameControler {
    display: flex;
    justify-content: space-evenly;
}

#gameControler > button {
    width: calc(75% / 4);
}

#explanationControler{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10%;


}

#tutorial * , #information * , #aboutAnts * {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items:center;
    text-align:center;
}

/* Default : unvisisible */
#tutorial , #information , #aboutAnts {
    display: none;
}

#explanationControler > div{
    max-width: calc(75%/3);
}

#explanationControler > div > img {
    width:100%;
}

/* Centered text */
.buttonTexted {
    position: relative;
    text-align: center;
    color: black;
  }

.buttonTexted > h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw
}

/* ============================= CURVE ====================================*/
#dataViewer{
    height:calc(50% - 15px); 
}  


/* ==========================================================*/
/* ========================= LITTLE SCREEN ==================*/
/* ==========================================================*/

@media (max-width : 900px) {
    #menuButton{
        position: absolute;
        display: flex; /* pour le réafficher*/
        width: 50px;
        left:10px;
        top: 10px;
        z-index: 999;
    }

    /* ========================== PLAY =======================================*/
    #playPanel
    {
        height: 100vh;
        width: 100%;
    }

    

    /* ========================== CONTROLE =======================================*/

    #controlPanel{
        position: absolute ;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1 ;
        display: none;
        width: 100% ;
        height: 100% ;
        left: 0;
        border-left: none;
    }

    .buttonTexted > h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.2vw
    }

}