
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column; /* Pour aligner verticalement */
    align-items: flex-end; /* Pour aligner à droite */
    background-image: url("./../img/background/ground3.jpg");
}

button {
    background-color: var(--blueColorTN);
    color: white;
    border: var(--navyColorTN);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s; /* Ajouter une transition d'une seconde pour la couleur de fond */
  }
  
button:hover {
    background-color: var(--navyColorTN); /* Changer la couleur de fond lorsqu'on survole le bouton */
}
  

/* ========================== PLAY PANEL =======================================*/
#playPanel {
    /* évite d'être soumis à flex */
    position: absolute;
    height: 100% ;
    width: 100%;
}


/* traces les autres chemins */
canvas:not(#curve) {
    position: absolute;
}


/*=========================== ICON DIV =====================================  */
#iconDiv {
    color: white;background-color: white;
    border-radius: 0 0 0 15px;
    /* Add border bottom and left */
    border-bottom: 1px solid var(--navyColorTN);
    border-left: 1px solid var(--navyColorTN);


    display: flex;
    
    /* Over the playPanel */
    z-index: 2; 
    /* height: calc(var(--topBannerHeight)); */
    /* width: fit-content; */
    width: var(--controlPanelSize);
    /* background-color: var(--navyColorTN); */

    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: right;
    /* TODO : bouger ce align item qui fait quer les drop down sont aussi aligné */
    /* Centrer les éléments horizontalement */
    align-items: baseline; 
    
}

/* Réinitialiser le style par défaut des boutons */
button.iconBar-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: var(--buttonFontSizePC);
    height: fit-content;
}

button.iconBar-button:hover {
    color: var(--blueColorTN);
}

#iconDiv * {
    cursor: pointer;
}

#iconDiv img {
    height: var(--iconHeight);
    width: auto;
    margin: var(--marginTopIcon);
}

#iconDiv > div {
    margin: var(--marginTopIcon);
}

#iconDiv img:not(#menuButton, #bigTN, #miniTN) {
    display: flex;
}

.dropdown-square, #hamburger-container{
    align-self:self-start;
}

/* ========================== CONTROLE PANEL =======================================*/


#controlPanel {

    width: var(--controlPanelSize);
    background-color: white;
    border-radius: 15px 0 0 15px;    
    /* Permet de l'afficher par dessus les fourmis si réduction */
    z-index: 1;
    flex-direction: column;

}

#controlPanel>div{
    z-index: 0;
}


/* TOutes les divisions de #inputControler */
#inputControler>div {
    padding: 5px 0 5px 0;
}

/* ######## INPUT PANEL ######## */


#inputControler {
    padding: 10px 0 10px 0;
    /* border-top: 1px solid var(--navyColorTN); */
    display: block;
    flex-direction: column;
}

/* antControler */

#antControler {
    display: flex;
    flex-direction: row;
    /* Les deux colonnes label / range sont espacé horsitontalement */
    justify-content: space-around;
}

#antControler>div {
    display: flex;
    flex-direction: column;
    /* les lignes (label ou input) sont espacé verticalement */
    justify-content: space-around;
    max-width: 50%;
}



/* button */
#gameControler {
    /* align les boutons avec espacements */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* ######## EXPLANATION CONTROLER ######## */



/* Explanation TEXTE */

#tutorial, #information, #more {
    display: none;
    text-align: justify;
    margin: 0px 20px 0px 20px;
}

#dataViewer{
    min-height: 33vh;
    border-top: 1px solid var(--navyColorTN);
}

/* ==========================================================*/
/* ========================= LITTLE SCREEN ==================*/
/* ==========================================================*/

@media (max-width : 900px) {

    /*=========================== ICON DIV =====================================  */

    /* Icon div est placé en absolue pour éviter de casser la positio des fourmies codé avec le cul */

    #iconDiv {
        flex-direction: row;
        /* position: absolute; */
        width: 100%;
        height: fit-content;
        justify-content: space-around;
        align-items:baseline;
        flex-wrap: wrap;
        border: 0 1px 1px 1px solid var(--navyColorTN);
        border-radius: 0 0 15px 15px;
    }

    
    button.iconBar-button{
        font-size: var(--buttonFontSizeTEL);
    }

    /* ========================== PLAY =======================================*/
    #playPanel {
        /* height: 100vh; */
        height: 100%;
        width: 100%;
    }

    /* ========================== CONTROLE =======================================*/

    #controlPanel {
        /* position: absolute; */
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0;
        
        /* display: none; */
        width: 100%;
        height: fit-content;

        left: 0;
        /* top: calc(var(--topBannerHeight) + var(--buttonFontSizeTEL) + 4px * 2  ); */
        top: auto;

    }


    #dataViewer {
        /* bien que le dataViewer n'est pas affiché, il détermine la taille du canvas curve */
        height: 60%;
    
    }

    
    

}

