/* =============================== GLOBAL ================================== */
:root{
    --controlPanelSize : 450px;
}

* {
    margin: 0;
    padding: 0;
}

html, body{
    /* overflow: hidden; */
    display: flex;
    flex: auto;
}

/* Hide for big screen */
#menuButton{
    display: none;
}

/* ========================== PLAY PANEL =======================================*/
#playPanel
{
    background-image: url("./../img/ground3.jpg");
    height: 100vh;
    width: calc(100% - (var(--controlPanelSize)) );
}


/* traces les autres chemins */
canvas:not(#curve){
    position: absolute;
}

/* ========================== CONTROLE PANEL =======================================*/


#controlPanel{
    /* border-left: 2px solid black; */
    height: 100%;
    /* width: 25%; */
    width: var(--controlPanelSize);
    /* min-width: 450px; */
    /* left: 75%; */
    left: calc(100% - var(--controlPanelSize));
    background-color: white;
    /* Permet de l'afficher par dessus les fourmis si réduction */
    position: absolute;
    z-index: 999;

    display: flex;
    flex-direction: column;
    flex-grow: inherit;
}

#inputControler, #explanationControler{
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0 ;
}

/* ######## INPUT PANEL ######## */


#inputControler{
    
    display: flex;
    flex-direction: column;
}

/* antControler */

#antControler{
    display: flex;
    flex-direction: row;
    /* Les deux colonnes label / range sont espacé horsitontalement */
    justify-content: space-around;
}   

#antControler > div {
    display: flex;
    flex-direction: column;
    /* les lignes (label ou input) sont espacé verticalement */
    justify-content: space-around;
}

/* button */
#gameControler{
    /* align les boutons avec espacements */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* ######## EXPLANATION CONTROLER ######## */

/* Explanation BUTTON */
#explanationControler{
    min-height: calc(100% / 3);
}

#explainationButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/* Centered text */
.buttonTexted {
    
    /* button sous le texte */
    position: relative;
    /* Taille de la division = taille du panel / nb_bouton */
    width:calc(75% / 3);
    /* Au centre (need aussi le left:50% de h4 */
    text-align: center;
}

.buttonTexted > h4 {
    /* Texte par dessus le bouton */
    position: absolute;
    /* Au centre */
    top: 50%;
    left: 50%;
    /* Position responsive */
    transform: translate(-50%, -50%);
    /* Font-size variable */
    /* font-size: 0.8vw */
    font-size: 10px;
}

.buttonTexted > img {
    /* taille du bouton = taille du contenaire */
    width: 75%;
}

/* Explanation TEXTE */

/* #explainationTexte {
    display: none;
} */
.displayTexteDiv{
    text-align: justify;
    margin: 0px 20px 0px 20px;
}

#dataViewer{
    height: 34%;
    
}


/* Default : unvisisible */
/* #tutorial , #information , #aboutAnts {
    display: none;
} */

#information , #aboutAnts {
    display: none;
}



@media (min-width : 900px){
    /* QUatrième tab for curve */
    #tab4, .tab-wrap > label:nth-child(8), div.tab__content:nth-child(12) {
        display: none;
    }
}


/* ==========================================================*/
/* ========================= LITTLE SCREEN ==================*/
/* ==========================================================*/

@media (max-width : 900px) {
    #menuButton{
        position: absolute;
        display: flex; /* pour le réafficher*/
        width: 50px;
        left:10px;
        top: 10px;
        z-index: 999;
    }

    /* ========================== PLAY =======================================*/
    #playPanel
    {
        height: 100vh;
        width: 100%;
    }

    

    /* ========================== CONTROLE =======================================*/

    #controlPanel{
        position: absolute ;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1 ;
        display: none;
        width: 100% ;
        height: 100% ;
        left: 0;
        border-left: none;
    }

    .buttonTexted > h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.2vw
    }

    #antControler{
        margin: 0 15px 0 70px;
    }


    #dataViewer{
        /* bien que le dataViewer n'est pas affiché, il détermine la taille du canvas curve */
        height: 80%;
        width: 90%;
        /* display: none; */

    }


    /* QUatrième tab for curve */
/* #tab4, .tab-wrap > label:nth-child(8), div.tab__content:nth-child(12) {
    display: flex; 
}*/


}