body{
    /* margin: 0px; */
    /* background-color: #99582A; */
    background-image: url("./../img/ground.jpg");
    /* background-attachment: fixed; */
}

* {
    font-family: "Power Red and Green", serif;
}

h1{
    margin-top: 0%;
    margin-bottom: 5%;
    padding-top: 0%;
    font-size:3em;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

.slidecontainer > label{
    font-size: 1.2em;
}


.controlPanel{
    /* display: none; */
    /* display: flex; */
    /* flex-direction: column; */
    
    position:absolute;
    height: 100%;
    width: 25%;
    left: 75%;
    outline:10px solid black;
    /*background-color: #0652DD;*/
    background-color: #efefef;
    box-shadow: 0 0 25px black;
}







#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    width: 100%;
    height: 8%;
    /*background-color: red;*/

}

.controlButton {
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.15em;
    background-color: #4f4f4f;
    cursor: pointer;
    border-radius: 5px;
}


.controlButton:hover {
    background-color: #1c1c1c;
}


.btTop {
    transform: translateX(-50%) translateY(-50%);
    padding-top: 35px;
    position:absolute;
    left: 20%;
    top: 35%;
}

.checkbox {
    cursor: pointer;
}
#allPath {
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.1em;
    background-color: #4f4f4f;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 6px;
}
#drawMain {
    visibility: hidden;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* SLIDER | SLIDER | SLIDER | SLIDER |SLIDER */


/* The slider itself */
.speedSelect, .pathDrawing {
    vertical-align: middle;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    position: sticky;
    width:62.5%; /* Full-width */
    
    height: 2%; /* Specified height */
    background: #818181; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px;
}

.slider {
    -webkit-appearance: none;
    width: 65%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* /////////////////////////////////////////////////////////////////////////////// */





/* ////////////////////////////////////////////////////////////////////////////// */

.buttonInfo{
    position: absolute;
    top: 19.5%;
    left: 77%;
    width: 2.7rem;
    height: 2.7rem;
    min-width : 2.7rem;
    min-height : 2.7rem;
}

.buttonTuto{
    position: fixed;
    /* width: 5rem;
    height: 5rem;
    min-width : 2rem;
    min-height : 2re    m; */
    /* 80px */
    width: 5.6%;
    min-width: 30px;
    /* transform: translateX(50%); */
    /* height: 5.6%; */
    /* permet d'être par dessus le canvas */
    z-index: 1; 
}

.buttonAboutAnts{
    position: absolute;
    top: 10px;
    left: calc(75% - 200px)  ;
    width: 10.2rem;
    height: 2.5rem;
    /* permet d'être par dessus le canvas */
    z-index: 1; 

}


.modalDialog1 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: -125%;
    top: 0;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog2 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    /* top: -5.3%; */
    top: -38px;
    left: 7px;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog3 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: 42%;
    top: 22%;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog1:target, .modalDialog2:target, .modalDialog3:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog1 > div {
    width: 380px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: -moz-linear-gradient(#01a6b2, #2edbe8);
    background: -webkit-linear-gradient(#01a6b2, #2edbe8);
    background: -o-linear-gradient(#01a6b2, #2edbe8);
}

.modalDialog2 > div, .modalDialog3 > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: -moz-linear-gradient(#f09535, #ffa500);
    background: -webkit-linear-gradient(#f09535, #ffa500);
    background: -o-linear-gradient(#f09535, #ffa500);
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #6ed1d8;
}


/* //////////////////////////////////////////////////////// */



.chartWrapper {
    position:absolute;
    background-color: white;
    top: 50%;
    /* left:0; */
    width:100%; 
    height:50%; 
    outline:10px solid black;
    /* border: solid; */
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
}






.terraNcontainer{
    /* display: none ; */
    /* transform: translateX(-50%) translateY(-50%); */
    /* left:37.5%; */
    position:absolute;

    bottom: 0%;
    width: 75%;
    height: 10%;
    outline:10px solid black;
    background-color: white;
}

.terraNumerica{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    height: 100%;
    width:auto;
    cursor: pointer;
}





/* 
#canvas{
    width: 75%;
} */


/* //////////////////////////////////////////////////////// */


@media only screen and (max-width: 767px) {
    .controlPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    flex-direction: row;
    outline: none;
    box-shadow: none;
    }

    .terraNcontainer{
        display: none;
    }

    #canvas{
        width: 100%;
        height: 50%;
    }

   

}