
body{
    overflow: hidden;
}

#playPanel {
    background-image: url("./../img/ground.jpg");
    width: 100%;    
    height: 100%;
}

#playGround{
    /* width: 100%;     */
    height: 100%;
}

#inputControler{
    /* height: 50%; */
}


#curve{
    /* height: 100% !i  mportant; */
}

