

.dropdown-square{
    z-index: 999;
}

.dropdown-square {
    /*style the "box" in its minimzed state*/
    /* background-color: var(--navyColorTN); */
    background-color: white;
    text-align: center;
    
    border:3px solid black; 
    width:var(--iconHeight); 
    height:var(--iconHeight); 

    min-width:var(--minIconHeight);
    min-height: var(--minIconHeight);

    overflow:hidden;
    /*animate the dropdown collapsing*/
    transition: height 0.1s;
    /* Over the iconDiv */
    
}
.dropdown-square:hover {
    /*when expanded, the dropdown will get native means of scrolling*/
    /*animate the dropdown expanding*/
    transition: height 0.5s;
    ;
}








/* CSS to show the expanded dropdown on click */
#background-picker-div.open,
#lang-picker.open {
  height: calc(var(--nbBGChoice) * var(--iconHeight));
  min-height: calc(var(--nbBGChoice) * var(--minIconHeight));
}





/* #background-picker-div:hover{
    height: calc(var(--nbBGChoice) * var(--iconHeight));
    min-height: calc(var(--nbBGChoice) * var(--minIconHeight));
}

#lang-picker:hover{
    height: calc(var(--nbLangChoice) * var(--iconHeight));
    min-height: calc(var(--nbLangChoice) * var(--minIconHeight));
} */

.dropdown-square input {
    /*hide the nasty default radio buttons!*/

    position:absolute;top:0;left:0;opacity:0;
    
}
.dropdown-square label {
    /*style the labels to look like dropdown options*/

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */

    height:var(--iconHeight);
    background-size:contain;

    color: black;
    font-size: calc(var(--iconHeight) * 0.7);

    min-width:var(--minIconHeight);
    min-height: var(--minIconHeight);
    
}

.dropdown-square:hover label{
    /*this is how labels render in the "expanded" state.
     we want to see only the selected radio button in the collapsed menu,
     and all of them when expanded*/
    display:flex;
    
}

.dropdown-square input:checked + label {
    /*tricky! labels immediately following a checked radio button
      (with our markup they are semantically related) should be fully opaque
      and visible even in the collapsed menu*/
    opacity:1 !important; display:flex;
}

/* Hide input */
.dropdown-square>input{
    display: none;
}

/* .dropdown-square>input ~ label */

.dropdown-square>input:checked + label{
    background-color: var(--hoverIconColor);
}


label[for=choiceBackgroundGrass] {background-image:url("../img/background/ground3.jpg");}
label[for=choiceBackgroundSand] {background-image:url("../img/background/ground2.jpg");}
label[for=choiceBackgroundDirt] {background-image:url("../img/background/ground.jpg");}
label[for=icon-background-picker] {background-image:url("../img/icon/changeBG3.png");}


/* For translate icon */
label[for=icon-lang-picker] {background-image:url("../img/icon/translate_icon.jpeg");}
/* for background icon */
label[for=choiceBackgroundPersonalized] {background-image:url("../img/icon/file_explorer_icon.png");}


label[for=choiceColorPersonalized] {background-image:url("../img/icon/color-selection_icon2.png");}